MONGODB_URI=mongodb+srv://your_username:your_password@your_cluster.mongodb.net
MONGODB_DB=portfolio_blog
ADMIN_USERNAME=admin
ADMIN_PASSWORD=your_secure_password

# SMTP Configuration
SMTP_HOST=meerai.stratusone.cloud
SMTP_PORT=465
SMTP_USER=admin@stratusone.cloud
SMTP_PASSWORD=your_smtp_password
CONTACT_EMAIL=contact@zfts.site
JWT_SECRET=your_jwt_secret_key

# Storage Configuration
USE_S3_STORAGE=false # Set to true to use S3 instead of local storage

# AWS S3 Configuration (only needed if USE_S3_STORAGE=true)
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_REGION=ap-southeast-1
AWS_S3_BUCKET_NAME=your-bucket-name
